<div class="tw-container">
  <div class="content">
    <h1>TWITCH STREAMERS</h1>
    <ul class="list-inline">
      <li><a href="#" (click)="switchType($event, 'all')">ALL</a></li>
      <li><a href="#" (click)="switchType($event, 'live')">LIVE</a></li>
      <li><a href="#" (click)="switchType($event, 'vodcast')">VODCAST</a></li>
    </ul>
    <div class="type">{{type | uppercase}}</div>
    <div class="stream-container">
      <div class="streams">
        <div class="stream" *ngFor="let stream of streams">
          <img class="stream-thumb" [src]="stream.thumbnail_url" alt="thumb">
          <div class="title">{{stream.title}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
